{% extends "master.html.twig" %}

{% block title %}Index of Articles{% endblock %}

{% block content %}

 <aside>
       <div class="categoryList">
            {% for c in categories %}
            <div class="category">
            <p>{{c.name}}
            </div>
            {% endfor %}
        </div>
</aside>
<article>
        <div class="productList">
            {% for p in products %}
            <div class="product">
            <p>{{p.name}}</p>
            <p>{{p.description}}</p>
            </div>
            {% endfor %}
        </div>
        
</article>

{% endblock %}

