{% extends "master.html.twig" %}

{% block title %}
Checkout
{% endblock title %}

{% block head %}

{% endblock head %}


{% block navbar %}
<nav class="navbar navbar-expand-md navbar-light bg-light">
    <h1 class="main-pickmeal-text"><a href="#" class="no-change-hover"><span style="color:rgb(226, 0, 0);">Pick</span><span style="color:lightsalmon;">meal</span></a></h1>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
        <form class="form-inline">
            <div class="input-group">                    
                <input type="text" class="form-control" placeholder="&#xF002; Search">
            </div>
        </form>
        <div class="navbar-nav nav-bar-links">
            <a href="#" class="nav-item nav-link">Order History</a>
            <span class="navbar-seperator"> | </span> 
            <a href="#" class="nav-item nav-link">Profile</a>
        </div>
    </div>
</nav>
{% endblock navbar %}

{% block content %}{% endblock content %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkpYWnMeyijWhGURj1n-EYW5LWyTYU_nQ&libraries=places"></script>


{% endblock scripts %}