{% extends "master.html.twig" %}

{% block title %}
Order Restaurant Food Delivery Online & Take Out
{% endblock title %}

{% block head %}
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.0/semantic.min.css" />
{% endblock %}

{% block content %}
    <div class="row">
        <img src="/photos/HomePageImg1.jpg" alt="test" class="img-fluid">
        <div class="carousel-caption home-caption-1">
            <h1 class="home-pickmeal-text"><a href="#" class="home-pickmeal-link">Pick<span style="color:lightsalmon;">meal</span></a></h1>
        </div>
        <div class="carousel-caption home-caption-3">
            <a href="#" class="no-change-hover color-white"><i class="fas fa-globe fa-lg mr-3"></i><span class="home-login-text">FR</span></a><span class="home-seperator-loginlang"> | </span><a href="#" class="no-change-hover color-white"><i class="mr-3 fas fa-user-circle fa-lg"></i><span class="home-login-text">Log In</span></a>
        </div>
        <div class="carousel-caption home-caption-2">
            <h2 class="home-delivery-text">You Deserve Great Delivery</h2>
            <div class="input-group mb-3" id="locator-input-section">
                <input id="autocomplete" type="text" class="form-control home-delivery-input" placeholder="Enter Your Address" aria-label="Enter Your Address" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <div class="btn btn-dark home-location-button" id="locator-button">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                </div>
            </div>
            <button type="button" class="form-control home-submit-address btn btn-danger">Find Restaurants Nearby</button>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkpYWnMeyijWhGURj1n-EYW5LWyTYU_nQ&libraries=places"></script>
    <script>
(function () {
    var locatorSection = document.getElementById("locator-input-section")
    var input = document.getElementById("autocomplete");


    function init() {
        var locatorButton = document.getElementById("locator-button");
        locatorButton.addEventListener("click", locatorButtonPressed);

    }

    function locatorButtonPressed() {
        locatorSection.classList.add("loading")

        navigator.geolocation.getCurrentPosition(function (position) {
                getUserAddressBy(position.coords.latitude, position.coords.longitude)
            },
            function (error) {
                locatorSection.classList.remove("loading");
                alert("The Locator was denied :( Please add your address manually");
            })
    }

    function getUserAddressBy(lat, long) {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                var address = JSON.parse(this.responseText);
                setAddressToInputField(address.results[0].formatted_address);
            }
        };
        xhttp.open("GET", "https://maps.googleapis.com/maps/api/geocode/json?latlng=" + lat + "," + long + "&key=AIzaSyBkpYWnMeyijWhGURj1n-EYW5LWyTYU_nQ", true);
        xhttp.send();
    }

    function setAddressToInputField(address) {

        input.value = address;
        locatorSection.classList.remove("loading");
    }

    var defaultBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(45.508888, -73.561668),
    );

    var options = {
        bounds: defaultBounds
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);

    init()

})();
</script>

{% endblock scripts %}