{% extends "master.html.twig" %}

{% block title %}Login {% endblock %}
{% block head %}
   
{% endblock %}

{% block content %}
<div id="registerDiv" class="img-fluid">
<div class="container" >
<form method="post" enctype="multipart/form-data">
<hr>
<div class="card bg-light " id="reginternalDiv" >
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Login to pickmeal</h4>
		<p>
    <a href="" class="btn btn-primary btn-block bg-danger"> <i class="fab fa-facebook-f"></i>   Login via facebook</a>
		<a href="" class="btn btn-primary btn-block bg-danger"> <i class="fab fa-google"></i>   Login via Google</a>
		
	</p>
	<p class="divider-text">
        <span class="bg-light">Login using your account</span>
    </p>
	<form>
	
	<span>{% if error %} <p class="emailpassworderror">Pickmeal unable to verify your email/password.</p>{% endif %}</span>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		 
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
		
        <input name="email" id='email' class="form-control" placeholder="Email Address" type="text">
    </div>
	<span  id="isEmailValid"></span>
		<!-- form-group PASSWORD// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Password" type="password" name="password" id='password'>
    </div> 
	<span  id="isPasswordValid"></span>
	<!-- form-group CREATE// -->   
	<a href="/passreset_request"> forget your password?</a>                                  
    <div class="form-group">
        <button id="submit" type="submit" class="btn btn-primary btn-block bg-danger">LOG IN</button>
    </div> <!-- form-group// -->    
    </form>  
    <p class="text-center">Don't have an account? <a href="/register">sign up</a> </p>                                                                 
</form>
</article>
</div>
</div> 
</div>
<!--container end.//-->


{% endblock %}