{% extends "master.html.twig" %}

{% block title %}Login Successfull {% endblock %}
{% block head %}
   
{% endblock %}

{% block content %}
<div id="loginSuccessDiv" class="img-fluid">
<div class="container" >
<form method="post" enctype="multipart/form-data">
<hr>
<div class="card bg-light " id="logSuccessinternalDiv" >
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">You logged in successfully.Nice to see you again</h4>
	<a href="/"><p>HOME PAGE</p> </a>
	</article>
</div>
</div> 
</div>
<!--container end.//-->


{% endblock %}



