<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <script src="https://kit.fontawesome.com/62a1f178de.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&family=Poppins&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="styles/styles.css">
        <link rel="icon" type="image/png" href="images/favicon.png" />
        <title>{% block title %}Order Restaurant Food Delivery Online & Take Out{% endblock %} | Pickmeal</title>
        {% block head %}{% endblock %}
    </head>
    <body>
        {% block navbar %}{% endblock navbar %}
        {% block content %}{% endblock content %}
        <div class="row footer">
            <div class="col-1">
            </div>
            <div class="pb-5 mb-5 col-10">
                <div class="row">
                    <div class="col-4">   
                        <ul class="footer-lists">
                            <li class="footer-ul-li"><a class="color-white footer-list-items" href="#">About Us</a></li>
                            <li class="footer-ul-li"><a class="color-white footer-list-items" href="#">FAQ</a></li>
                            <li class="footer-ul-li"><a class="color-white footer-list-items" href="#">Gift Cards</a></li>
                        </ul>
                    </div> 
                    <div class="col-4">   
                            <ul class="footer-lists">
                            <li class="footer-ul-li"><a class="color-white footer-list-items" href="#">Restaurant Owners</a></li>
                            <li class="footer-ul-li"><a class="color-white footer-list-items" href="#">Become a Courier</a></li>
                            <li class="footer-ul-li"><a class="color-white footer-list-items" href="#">Careers</a></li>
                        </ul>
                    </div> 
                    <div class="col-4">   
                        <ul class="footer-lists">
                            <li class="pb-3 footer-ul-li"><a class="color-white footer-list-items" href="#">Invite a Friend, Get $5</a></li>
                        </ul>
                    <div class="row">
                        <a class="footer-icon-a" href="#"><i class="ml-5 pr-3 fab fa-twitter fa-2x"></i></a>
                        <a class="footer-icon-a" href="#"><i class="pr-3 fab fa-facebook-square fa-2x"></i></a>
                        <a class="footer-icon-a" href="#"><i class="pr-3 fab fa-instagram fa-2x"></i></a>
                        <a class="footer-icon-a" href="#"><i class="fab fa-youtube fa-2x"></i></a>
                    </div>
                </div>
                <hr class="footer-seperator"/>
                <div class="col-10">
                    <a class="footer-bottom-links" href="#">Media & Community</a> | <a class="footer-bottom-links" href="#">Terms Of Service</a> | <a class="footer-bottom-links" href="#">Privacy Policy</a> | <a class="footer-bottom-links" href="#">Skip Social Code</a> | <a class="footer-bottom-links" href="#">Account Security</a> 
                </div>
                <div class="col-2">
                    <p class="footer-copyright">&copy; 2020 by Pickmeal</p>
                </div>
            </div> 
        </div> 
        <div class="col-1">
        </div>   

        </div>
        {% block scripts %}{% endblock scripts %}
    </body>
</html>