{% extends "master.html.twig" %}

{% block title %}
    Password reset request
{% endblock title %}

{% block header %}{% endblock header %}

{% block content %}
<div id="loginSuccessDiv" class="img-fluid">
<div class="container" >
<form method="post" enctype="multipart/form-data">
<hr>
<div class="card bg-light " id="logSuccessinternalDiv" >
<article class="card-body mx-auto" style="max-width: 400px;">
	<form method="POST" autocomplete="off" >
        <div class="formInput">
            <label>Email</label>
            <input type="text" name="email" />
        </div>
        <div class="buttonDiv">
            <button type="submit">Send password reset email</button>
        </div>
    </form>
	</article>
</div>
</div> 
</div>
    
{% endblock content %}
