{% extends "master.html.twig" %}

{% block title %}
    Password reset
{% endblock title %}



{% block header %}{% endblock header %}

{% block content%}
        Password reset token not found or not valid (expired).<br>
            <a href="/">Click to continue</a>
{% endblock content %}