{% extends "master.html.twig" %}

{% block title %}Registration {% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
   $(document).ready(function() {
			$("#submit").attr("disabled","true");
            $("#name, #email, #phonenumber,#password,#password2,#username").on('keyup keypress blur change cut paste', function(){
            if($("#password2").val()
             && $("#password").val()
             && $("#name").val()
             && $("#email").val()
             && $("#phoneunmber").val()
             && $("#username").val()
             && $('#isEmailValid').is(':empty')
             && $('#isTaken').is(':empty')
             && $('#isUsernameValid').is(':empty')
             && $('#isPasswordValid').is(':empty')
             && $('#isNameValid').is(':empty')
             && $('#isEmailReigistered').is(':empty')
             )
                 $("#submit").removeAttr("disabled");
             });
			$('input[name=name]').on('blur change cut paste', function() {
				var name= $('input[name=name]').val();
                $('#isNameValid').load("/register/isNameValid/" + name);
            });
			 $('input[name=email]').on('blur change cut paste', function() {
                var email= $('input[name=email]').val();
                $('#isEmailValid').load("/register/isEmailValid/" + email);
            });
             $('input[name=email]').on('blur change cut paste', function() {
                var email= $('input[name=email]').val();
                $('#isEmailReigistered').load("/register/isEmailReigistered/" + email);
            });
			$('input[name=phonenumber]').on('blur change cut paste', function() {
                var phone= $('input[name=phonenumber]').val();
                $('#isPhoneValid').load("/register/isPhoneValid/"+phone);
            });
            $('input[name=username]').on('keyup keypress blur change cut paste', function() {
                var name= $('input[name=username]').val();
                $('#isTaken').load("/register/istaken/" + name);
            });
			
			$('input[name=username]').on('keyup keypress blur change cut paste', function() {
                var name= $('input[name=username]').val();
                $('#isUsernameValid').load("/register/isUsernameValid/" + name);
            });
			$('input[name=password]').on('blur change cut paste', function() {
                var password= $('input[name=password]').val();
                $('#isPasswordValid').load("/register/isPasswordValid/" + password);
            });
			$('input[name=password2]').on('blur change cut paste', function() {
                var password1= $('input[name=password]').val();
				var password2=$('input[name=password2]').val();
                if(password1!=""){ 
                $('#isConfirmationValid').load("/register/isConfirmationValid/"+password1+"/"+password2);
                }
            });

        });
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
		

    </script>

{% endblock %}

{% block content %}
<div id="registerDiv" class="img-fluid">
<div class="container" >
<form method="post" enctype="multipart/form-data">
<hr>
<div class="card bg-light " id="reginternalDiv" >
<article class="card-body mx-auto" style="max-width: 400px;">
	<h4 class="card-title mt-3 text-center">Create Account</h4>
	<p class="text-center">Get started with your free account</p>
	<p>
    <a href="" class="btn btn-primary btn-block bg-danger"> <i class="fab fa-facebook-f"></i>   Sign up via facebook</a>
		<a href="" class="btn btn-primary btn-block bg-danger"> <i class="fab fa-google"></i>   Sign up via Google</a>
		
	</p>
	<p class="divider-text">
        <span class="bg-light">OR</span>
    </p>
	<form>
	<div class="form-group input-group">
		<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		 </div>
        <input name="name" id='name' class="form-control" placeholder="Full name" type="text">
    </div>
	<span  id="isNameValid"></span>	 
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
		 </div>
        <input name="email" id='email' class="form-control" placeholder="john@smith.com" type="email">
    </div> 
	<span  id="isEmailValid"></span>
	<!-- form-group PHONE// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
		</div>
		<select name="phonecode" class="custom-select" style="max-width: 120px;">
		    <option selected="" value="514">514</option>
		    <option value="438">438</option>
            <option value=" 226"> 226</option>
            <option value="289">289</option>
            <option value="343">343</option>
             <option value="604">604</option>
		</select>
    	<input name="phonenumber" id='phoneunmber' class="form-control" placeholder="Phone number" type="text">
    </div> 
	<span  id="isPhoneValid"></span> 
	<!-- form-group USERNAME// -->
	
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
		</div>
        <input class="form-control" placeholder="Username" type="text" name="username" id='username'>
    </div>
	
	<span  id="isTaken"></span> 
	<span  id="isUsernameValid"></span> 	
		<!-- form-group PASSWORD// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Create password" type="password" name="password" id='password'>
    </div> 
	<span  id="isPasswordValid"></span>
	<!-- form-group PASSWORD REPAET// -->
    <div class="form-group input-group">
    	<div class="input-group-prepend">
		    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
		</div>
        <input class="form-control" placeholder="Repeat password" type="password" name="password2" id='password2'>
    </div> 
	<span  id="isConfirmationValid"></span>
	<!-- form-group CREATE// -->                                      
    <div class="form-group">
    <span  id="isEmailReigistered"></span>	
        <button id="submit" type="submit" class="btn btn-primary btn-block bg-danger"> Create Account  </button>
    </div> <!-- form-group// -->    
    </form>  
    <p class="text-center">Have an account? <a href="/login">Log In</a> </p>                                                                 
</form>
</article>
</div>
</div> 
</div>
<!--container end.//-->


{% endblock %}