body {
    background-color:lavender;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    
    
}

.centeredContent {
    border: solid black 2px;
    margin:15% auto;
    align-items: center;
    padding: 20px;
    width:  320px;
    display: inline-block;
    background-color:lemonchiffon;
    
}

input {
    display: inline-block;
    float: right;
  }
.left{
    float: left;
}
