body {
    background-color:lavender;
    margin: 0;
    padding: 0;
}

.centeredContent {
    position: absolute;
    top: 35%;
    left: 35%;
   
    margin: 0 auto;
    padding: 20px;
    width: 300px; /* 960px; */
    background-color:lemonchiffon;
}
.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}
table, th, td {
    border: 1px solid black;
}