<!DOCTYPE html>
<html>
    <head>
        
            <link rel="stylesheet" href="/styles.css" />
            <title>{% block title %}Default{% endblock %} - Day 04 FirstSlim</title>
            {% block head %}
        {% endblock %}
    </head>
    <body>
    <div class="centeredContent">
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
                &copy; Copyright 2011 by <a href="http://day04slimfirst.ipd20:8888/">Maha</a>.
        </div>
        </div>
    </body>
</html>