{% extends "master.html.twig" %}
{% block title %}say hello{% endblock %}
{% block content %}
{% if errorsArray %}
    <ul>
        {% for error in errorsArray %}
            <li>{{error }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post">
Name: <input type="text" name="name" value="{{ v.name }}" ><br>
Age: <input type="number" name="age" value="{{ v.age }}" ><br>
<input type="submit" value="Create">
{% endblock %}