/* EDITED BOOTSTRAP - START */
.row {
    margin-right: 0px;
}
/* EDITED BOOTSTRAP - END */

/* GLOBAL STYLES - START */
.color-white {
    color: white;
}

.no-change-hover:hover {
    color: currentColor;
    text-decoration: none;
  }
/* GLOBAL STYLES - END */
/*------------------------REGISTRATION PAGE CSS - START ----------------------------------------------*/
#isTaken ,#isEmailValid,#isNameValid,#isPhoneValid,#isUsernameValid,#isPasswordValid,#isConfirmationValid,#isEmailReigistered{
    font-size:0.75em ;
    color: orange;
}
#registerDiv{
    background-image: url("/photos/HomePageImg1.jpg");
    background-position: center; /* Center the image */
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
#reginternalDiv{
    opacity: 0.85;
    
}

/*------------------------REGISTRATION PAGE CSS - END ------------------------------------------- */
/* ----------------------- LOGIN PAGE CSS - START ----------------------------------------------- */
.emailpassworderror{
    font-size:0.75em ;
    color: orange;
}

/*------------------------LOGIN PAGE CSS - END -------------------------------------------------- */
/* ----------------------- HOME PAGE CSS - START ------------------------------------------------ */
.home-caption-1 {
    top: 0;
    text-align: left;
    right: 0;
    left: 5%;
}

.home-pickmeal-text{
    top: 20%;
    font-family: 'Barlow', sans-serif;
    width: 30%;
    margin: 0px;
}

.home-pickmeal-link {
    color: white;
}

.home-pickmeal-link:hover {
    color: white;
    text-decoration: none;
}

.home-caption-2 {
    top: 33%;
}

.home-caption-3 {
    top: 0;
    text-align: right;
    right: 5%;
    left: 0;
    z-index: 10;
}

.home-login-text {
    font-size: 20px;
}

.home-submit-address {
    height: 55px;
}

.home-delivery-input {
    padding: 30px;
}

.home-delivery-text {
    font-size: 56px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    text-shadow: 1px 1px 1px #000000;
    padding-bottom: 25px;
}

.home-location-button {
    padding-top: 50%;
}

.home-seperator-loginlang {
    font-size: 26px;
    padding-left: 5px;
    padding-right: 5px;
}

/*     font-family: 'Roboto', sans-serif; */
/* ----------------------- NAV BAR CSS - START ---------------------------------------------------*/

.navbar-seperator {
    color: lightgray;
    font-size: 24px;
}

.nav-bar-links {
    margin-left: 50%;
}

.nav-search {
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
}
/* ----------------------- NAV BAR CSS - END -----------------------------------------------------*/
/* ----------------------- HOME PAGE CSS - END --------------------------------------------------*/

/* ----------------------- MAIN PAGE CSS - START --------------------------------------------------*/
.main-pickmeal-text{
    font-family: 'Barlow', sans-serif;
}

/* ----------------------- MAIN PAGE CSS - END --------------------------------------------------*/

/* ----------------------- FOOTER CSS - START ---------------------------------------------------- */
.footer {
    padding-top: 90px;
    background-color: rgb(36, 36, 54);
    color: white;
}

.footer-lists {
    list-style-type: none;
}

.footer-list > li {
    padding-top: 10px;
}

.footer-ul-li {
    padding-top: 10px;
}

.footer-list-items:hover {
    color: white;
}

.footer-icon-a {
    color: white;
}

.footer-icon-a:hover {
    color: rgb(209, 209, 209);
}

.footer-seperator {
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.329);
}

.footer-bottom-links {
    font-size: 14px;
    color: white;
}

.footer-bottom-links:hover {
    color: rgba(255, 255, 255, 0.6);
}

.footer-copyright {
    font-size: 12px;
}
/* ----------------------- FOOTER CSS - END ----------------------------------------------------- */