{% extends "master.html.twig" %}

{% block title %}Add article{% endblock %}

{% block content %}

<p>Article added successfully. <a href="/article/{{ newId }}">Click here</a> to view new article.</p>

{% endblock %}
