{% extends "master.html.twig" %}
{% block title %}Article Add{% endblock %}
{% block head %}
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
        <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}
{% block content %}
{% if errorsArray %}
    <ul>
        {% for error in errorsArray %}
            <li>{{error }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post">
<p>you are logged in as {{session.username}}<a href="\logout" > logout</a></p>
    <lable><h1>create new article</h1></label>
        Title:    <input type="text" name="title"  ><br/><br/>
        content: <textarea name="content" rows="4" cols="22" style="float: right"></textarea><br/><br/><br/><br/>
        <input  type="submit" value="Create" ><br/><br/>
{% endblock %}