{% extends "master.html.twig" %}
{% block title %}Article Add{% endblock %}
{% block head %}
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
        <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}
{% block content %}
{% if errorsArray %}
    <ul>
        {% for error in errorsArray %}
            <li>{{error }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post">
<p><a href="\article" >Add another  article</a> or go to <a href="\" >Home</a> page</p>
        Title:    <input type="text" name="title" value={{v.title}}><br/><br/>
        content: <textarea name="content" rows="4" cols="22" style="float: right">{{v.body}}</textarea><br/><br/><br/><br/>
        
        <input  type="submit" value="Add comment" ><input name="comment" type="text" size="15"><br/><br/>
{% endblock %}