{% extends "master.html.twig" %}
{% block title %}internal error{% endblock %}
{% block content %}
<p>internal error occurd .<a href="/">find us</a></p>
<img src="/images/ninja.png" width="200">
{% endblock %}