{% extends "master.html.twig" %}

{% block title %}Forbidden{% endblock %}

{% block content %}

<p>Access forbidden. You may need to be logged in to access.</p>
    <p> Go back <a href="\" > Home </a> or <a href="\login" >Login</a>.</p>
{% endblock %}

