{% extends "master.html.twig" %}

{% block title %}Index of Articles{% endblock %}

{% block content %}

<div class="articleList">
    {% for a in articleList %}
        <div class="articleSummary">
            <a href="/article/{{a.id}}"><b>{{a.title}}</b></a>
            <br>Posted by {{a.authorName}} on {{a.creationTS}}<br>
            <div class="articleBody">{{ a.body }}</div>
        </div>
    {% endfor %}
</div>

{% endblock %}

