{% extends "master.html.twig" %}
{% block title %}login success{% endblock %}
{% block content %}
<p>Welcome {{v.username}}. <a href="\article" >Add an article</a> or <a href="\logout" >logout</a></p>
{% endblock %}