{% extends "master.html.twig" %}
{% block title %}Login{% endblock %}
{% block content %}
{% if errorsArray %}
    <ul>
        {% for error in errorsArray %}
            <li>{{error }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post" >
        Name:<input type="text" name="username" value="{{v.username}}" ><br/><br/>
        Password: <input type="password" name="password" ><br/><br/>
        <input style="position: relative;" type="submit" value="login"><br/><br/>
        <p>don't have an account?<a href="\register" >register now</a></p>
{% endblock %}