<!DOCTYPE html>
<html>
    <head>
        
            <link rel="stylesheet" href="/styles.css" />
            <title>{% block title %}Default{% endblock %} - Day 04 SlimBlog</title>
            {% block head %}
        {% endblock %}
    </head>
    <body>
    <div class="centeredContent">
        <div id="content">{% block content %}{% endblock %}</div>
        
        </div>
    </body>
</html>