{% extends "master.html.twig" %}
{% block title %}Register{% endblock %}
 {% block head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
            $(document).ready(function() {
                //$('input[name=username]').blur(function() {
                $('input[name=username]').keyup(function() {
                    var username = $('input[name=username]').val();
                    $('#isTaken').load("/register/isusernametaken/{username}+ username);
                });
            });
            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });
        </script>
  {% endblock %}
{% block content %}
{% if errorsArray %}
    <ul>
        {% for error in errorsArray %}
            <li>{{error }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="post">
Desired username:<input type="text" name="name" value="{{v.name}}"><br/>
  <span class="errorMessage" id="isTaken"></span><br>
user email:<input type="text" name="email" value="{{v.email}}"><br/><br/>
Password: <input type="password" name="password" ><br/><br/>
Password(repeat)<input type="password" name="passwordRepeat" ><br/><br/>
<input  type="submit" value="Register!"><br/><br/>
<p>Already have an account?<a href="\login" >login now</a></p>
{% endblock %}