{% extends "master.html.twig" %}

{% block title %}Page not found - 404{% endblock %}

{% block content %}

<p>Page not found - 404</p>

<p><a href="/">Click here</a> to continue.</p>

{% endblock %}


