<!DOCTYPE html>
<html>
    <head>
        
            <link rel="stylesheet" href="/styles.css" />
            <title>{% block title %}Default{% endblock %} -Day 06 E-shop</title>
            {% block head %}
        {% endblock %}
    </head>
    <body>
    <div id="centerContent">
            <div id="header">
            {% if userSession %}
                <p>You are logged in as {{ userSession.name }}.
                You can <a href="/logout">logout</a></p>
            {% else %}
                <p><a href="/login">login</a> </p>
            {% endif %}
            </div>
            <div id="content">
            {% block content %}{% endblock %}
            </div>
            <div id="footer">
                &copy; Copyright 2020 by <a href="http://day06eshop.ipd20:8888/"> Maha</a>.
            </div>
        </div>
        
    </body>
</html>