{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if error %}
    <p class="errorMessage">Login failed. You may try again.</p>
{% endif %}

<p>Presee here to <a href="/register"> Register</a></p><br/>
{% if userSession %}
    <p>Presee here to <a href="/logout"> Logout</a></p><br/>
{% else %}
    <p>Presee here to <a href="/login"> Login</a></p><br/>
{% endif %}

<p>Presee here to see  <a href="/shouts/list"> shout list</a></p><br/>

{% endblock %}

