{% extends "master.html.twig" %}

{% block title %}Shouts list{% endblock %}

{% block content %}

<table id="list">
<tr>   
<th>#</th>
<th>author Name</th>
<th>author avator</th>
<th>Message</th>
{% for shouts in s %}
            <tr>
            <td>{{shouts.ID}}</td>
           <td>{{shouts.username}}</td> 
           <td></td>
           <td>{{shouts.message}}</td>
            </tr>
    {% endfor %}
</table>

{% endblock %}