{%  extends "master.html.twig" %}
{% block title %}Logout{% endblock %}
{% block content %}
<p>successfully logged out.Go back <a href="\" > Home </a> or <a href="\login" >Login</a>.</p>
{% endblock %}