<!DOCTYPE html>
<html>
    <head>
        
            <link rel="stylesheet" href="/styles.css" />
            <title>{% block title %}Default{% endblock %} -Day 06 E-shop</title>
            {% block head %}
        {% endblock %}
    </head>
    <body>
    <div id="centerContent">
            <div id="header">
            
            </div>
            <div id="content">
            {% block content %}{% endblock %}
            </div>
            <div id="footer">
                &copy; Copyright 2020 by <a href="http://quiz1slimshout.ipd20:8888/"> Maha</a>.
            </div>
        </div>
        
    </body>
</html>