{% extends "master.html.twig" %}

{% block title %}Shout adding Succssed{% endblock %}

{% block content %}

<p>Shout created successfully. <a href="/shouts/list">Click here</a> to display the list</p>
<p> <a href="/">Click here</a> to go to index</p>
{% endblock %}