{% extends "master.html.twig" %}

{% block title %}Shouts list{% endblock %}
{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#author').on(' change ', function() {
              var selectedAuthor = $(this).children("option:selected").val();
               $('#list').load("/ajax/loadshouts/[{username}]" + selectedAuthor);
            });
        });
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>

{% endblock %}
{% block content %}
<p><a href="/shouts/add">Add new shout</a></p>
<form method="post">
<label >Choose an author:</label>
<select name="author" id="author">
<option value=""></option>
{% for author in a %}
  <option value="{{author.username}}">{{author.username}}</option>
  {% endfor %}
 </select>
</label>
 <input type="submit" value="display shouts">
<table id="list">
<tr>
         
<th>#</th>
<th>author Name</th>
<th>author avator</th>
<th>Message</th>
</tr>

  
{% for shouts in s %}
            <tr>
            <td>{{shouts.ID}}</td>
           <td>{{shouts.username}}</td> 
           <td></td>
           <td>{{shouts.message}}</td>
            </tr>
    {% endfor %}


</table>
</form>
{% endblock %}