{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block head %}
        <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js"></script>
        <script>tinymce.init({selector:'textarea'});</script>
{% endblock %}


{% block content %}
<form method="post" enctype="multipart/form-data">
    Use Id: <input type="text" name="authorId" value="{{userSession.id}}"><br/>
    Message: <textarea name="message" rows="4" cols="22" /></textarea><br/>
    <input type="submit" value="Add shout">
</form>

{% endblock %}

