{% extends "master.html.twig" %}

{% block title %}Category management{% endblock %}

{% block content %}
<h1>Manage Categories</h1>
<form method="post">
<input type="submit" name="add" value="Add"><br/><br/>
<table class='categorytable'>
<tr>
<th>Category name</th>
<th>Action</th>
</tr>
{% for cat in c %}
            <tr>
            <td>{{cat.name}}</td>
            <input type="hidden" name="id" value="{{cat.id}}">
            <td> <input type="submit" name="delete" value="Delete"> <input type="submit"  name="update" value="Update"></td>
            </tr>
    {% endfor %}
</table>
</form>
{% endblock %}