    {% for product in productsList %}
        <li>
            <img class="productImg" src="{{product.pictureFilePath }}">
            <p class="productName">{{ product.name }}</p>
            <p class="productDesc">{{ product.description}}</p>
            <div class="addToCartDiv">
                <label>Unit Price: ${{ product.unitPrice }}</label>
                <input text="number"  name="quantity" value="0"/>
                <button id="btAddToCart">Add To Cart</button>
                <span style="display:none">{{ product.id }}</span>
            </div>
        </li>
    {% else %}
        <li>
            <h3>There is no Product... sorry</h3>
        </li>
    {% endfor %}
