{% extends "master.html.twig" %}

{% block title %}
    Welcome to my store
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <!-- Index page css-->
    <link rel="stylesheet" type="text/css" href="/styles/index.css" />

{% endblock stylesheets %}

{% block section %}
    <h1>My first e-shop!</h1>
    <div class="productsList">
    <ul id="productsListHolder"></ul>
    </div>
    <div class="pageDiv">
    <span class="pageLink" onclick="loadProductPage(currentPage-1);">Previous</span>

    {% for page in 1 .. totalPages %}
            <span id="pageLink{{page}}" class="pageLink" onclick="loadProductPage({{page}});">{{page}}</span>
    {% endfor %}

    <span class="pageLink" onclick="loadProductPage(currentPage+1);">Next</span>

    </div>


{% endblock section %}

{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script>
        var currentPage = 1;
        function loadProductPage(page) {
            page = page < 1 ? 1 : page; // min is 1
            page = page > {{totalPages}} ? {{totalPages}} : page; // max is {{ totalPages }}
            // remove style pageLinkCurrent on currentPage
            $("#pageLink"+currentPage).removeClass("pageLinkCurrent");
            currentPage = page;
            $("#pageLink"+currentPage).addClass("pageLinkCurrent");
            $("#productsListHolder").load("/ajax/productpage/" + page);
        }

        $(document).ready(function(){
            loadProductPage(currentPage);
        });

        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>
{% endblock scripts %}