{% extends "master.html.twig" %}

{% block title %}Add Category{% endblock %}

{% block content %}
<form method="post">
    Category name: <input type="text" name="categoryName"><br>
    <input type="submit" value="Add Category">
</form>

{% endblock %}

