{% extends "master.html.twig" %}

{% block title %}Add Category{% endblock %}

{% block content %}
<form method="post">
    Category name: <input type="text" name="categoryName" value="{{c.name}}"><br>
    <input type="hidden" name="categoryId" value={{c.id}}>
    <input type="submit" value="Add Category">
</form>

{% endblock %}

