{% extends "master.html.twig" %}

{% block title %}<h1>Products</h1>{% endblock %}

{% block content %}
    <h1> Welcome to my Shop</h1>
    <ul>
    {% for product in Products%}
    <li>
    <div calss=productImg" style="background-image:url('{{product.pictureFilePath}}')"></div>
     <p class="productName">{{product.productName}}</p>
     <p class="productDesc">{{product,description}}</p>
     <div class="addToCartDiv">
     <label>unit price:${{product.unitPrice}}</label>
     <input text="number"  name="quantity" value="0"/>
     <button id="btAddTOCart"> Add To Cart</button>
     <span style="dic=splay:none">{{product.productId}}</span>
     </div>
     </li>
     {%else%}
     <li>
     <h3> There is no Product.. sorry</h3>
     </li>
     {%endfor%} 
     </ul>
     
{% endblock %}


