{% extends "master.html.twig" %}

{% block title %}Index of Products{% endblock %}

{% block content %}

<div>
<div class="leftSidePanel">
<p>CATEGORIES</p>
<ul>
{% for  cat in c %}
            <li><a href="/category/{{cat.id}}">{{cat.name}}</a></li>
          
    {% endfor %}
    </ul>
</div>

<div class="middleSidePanel">
{% for prod in p %}
            <h2><P>{{prod.name}}</P></h2>
           <P>{{prod.description}}</P>
    {% endfor %}
</div>

</div>
<div></br></div>
{% endblock %}