{% extends "master2.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}

{% if error %}
    <p class="errorMessage">Login failed. You may try again.</p>
{% endif %}

<form method="post">
    Username: <input type="text" name="name"><br>
    Password: <input type="password" name="password"><br>
    <input type="submit" value="Login">
</form>

{% endblock %}

