<!DOCTYPE html>
<html>
    <head>
        
            <link rel="stylesheet" href="/styles.css" />
            <title>{% block title %}Default{% endblock %} -Day 06 E-shop</title>
            {% block stylesheets %}{% endblock stylesheets %}
            
    </head>
    <body>
   <body>
<div class="container">
    <header>
        <a class="homeLink" href='/'></a>
        <div class="bannerLetter">
            <span>MY STORE</span>
        </div>
        {% block header %}
            <div>
                {% if userSession %}
                    <span>You are logged in as <b>{{userSession['name']}}</b></span>
                    <a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">Login</a> or <a href="/register">Register</a>
                {% endif %}
            </div>
        {% endblock header %}
    </header>

    <nav>
        <ul>
            {% for category in categories %}
            <li><a href="/category/{{category.id}}">{{category.name}}</a></li>
            {% endfor %}
            <li><a href="/cart" class="cartLink">Cart</a></li>
        </ul>
    </nav>

    <section>
    {% block section %}{% endblock section %}
    </section>
    
    {% block scripts %}{% endblock scripts %}
</div>

        
    </body>
</html>