{% extends "master.html.twig" %}

{% block title %}Register{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('input[name=email]').on('keyup keypress blur change cut paste', function() {
                var email= $('input[name=email]').val();
                $('#isRegistered').load("/register/isemailregistered/" + email);
            });
        });
        $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
            console.log("Ajax error occured on " + settings.url);
            alert("Ajax error occured");
        });
    </script>

{% endblock %}


{% block content %}

{% if errorsArray %}
    <ul class="errorMessage">
        {% for error in errorsArray %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post">
    Username: <input type="text" name="username" value="{{ v.username }}"><br/>
      
    Email: <input type="text" name="email" value="{{ v.email }}"><br>
      <span class="errorMessage" id="isRegistered"></span><br>
    Password <input type="password" name="password"><br>
    Password (repeated) <input type="password" name="passwordRepeated"><br>
    <input type="submit" value="Register">
</form>

{% endblock %}

