{% extends "master2.html.twig" %}

{% block title %}Add category{% endblock %}

{% block content %}

<p>Category added suucessfully. <a href="/admin/categories/list">Click here</a> to continue.</p>

{% endblock %}

