body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centerContent {
    margin: 0 auto;
    padding: 20px;
    width: 500px; /* 960px is standard */
    background-color:  lightblue; /* #ebe4d3; */
    height=100%;
}

.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}
.leftSidePanel{
    float:left;  
    background:gray; 
    width:25%; 
}
.middleSidePanel{
    float:left;  
    width:75%; 
    height:100%;
}

table, th, td {
    border: 1px solid black;
}