body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

#centerContent {
    margin: 0 auto;
    padding: 20px;
    width: 500px; /* 960px is standard */
    background-color:  lightblue; /* #ebe4d3; */
    height=100%;
}

.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}
.leftSidePanel{
    float:left;  
    background:gray; 
    width:25%; 
}
.middleSidePanel{
    float:left;  
    width:75%; 
    height:100%;
}

table, th, td {
    border: 1px solid black;
}
/**********/
h1,h2,h3,h4,h5,h6,p,ul,li{
    padding: 0;
    margin: 0;
}
.container {
    width: 700px;
    margin: 0 auto;
    border: 2px solid black;
    font-family: 'Manrope', sans-serif;
    font-size: 0.9em;
}
header {
    height: 100px;
    text-align:right;
    border: 1px solid green;
    position: relative;
}

a.homeLink {
    display: block;
    width: 100%;
    height: 100%;
}


header div{
    position: absolute;
    right:0;
    top:0;
}

header div.bannerLetter{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 4em;
    z-index: -1;
}

section {
    border: 1px solid red;
    padding: 20px;
}

button {
    padding: 5px 10px;
    border: 2px solid black;
}

.errorList {
    padding: 10px;
    color: red;
    font-size: 0.9em;
}
nav ul {
    text-align: center;
}
nav ul li {
    display: inline-block;
    padding: 0;
}
nav ul li a{
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
}
nav ul li a:hover {
    color: darkgrey;
}

.cartLink {
    border-color: blue;
    color: blue;
}
/*******************************************/
h1 {
    margin: 20px 0;
    font-size: 2em;
}
h2 {
    margin: 5px 0;
}
p {
    margin: 5px 0;
}
ul {
    list-style-type: none;
}
li {
    position: relative;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
}
li a.articleLink{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;

}

section a{
    text-decoration: none;
    color: black;
}

.cartImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}
.cartName{
    border-bottom: 1px solid black;
    font-size: 1.2em;
}

input[name=quantity]{
    margin: 0 10px;
    width: 25px;
    height: 18px;
    text-align: right;
}
.removeDiv {
    text-align: right;
}

.pageDiv a{
    text-decoration: underline;
    padding: 0 5px;
}
.pageDiv span{
    font-size: 2em;
    padding: 0 5px;
}
.pageNav {
    font-size: 0.8em;
}
/*********************************************/
h1 {
    margin: 20px 0;
    font-size: 2em;
}
h2 {
    margin: 5px 0;
}
p {
    margin: 5px 0;
}

.productsList ul {
    list-style-type: none;
}
.productsList li {
    position: relative;
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
}
.productsList li a.articleLink{
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;

}

section a {
    text-decoration: none;
    color: black;
}

.pageLink {
    text-decoration: none;
    color: black;
}
.pageLinkCurrent {
    font-size: 20em;
    padding: 0 5px;
    font-weight: bold;
}

.productImg {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}
.productName{
    border-bottom: 1px solid black;
    font-size: 1.2em;
}

input[name=quantity]{
    margin: 0 10px;
    width: 25px;
    height: 18px;
    text-align: right;
}
.addToCartDiv {
    text-align: right;
}

.pageDiv a{
    text-decoration: underline;
    padding: 0 5px;
}
.pageDiv span {
    font-size: 2em;
    padding: 0 5px;
}
.pageNav {
    font-size: 0.8em;
}